<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./JS/vue.js"></script>
</head>
<body>
    定义:要用的属性不存在,要通过已有属性计算得来
    原理:底层借助了Object.defineProperty方法提供的getter和setter
    1.get函数什么时候执行?
       1.初次读取时会执行一次
       2.当依赖的数据发生改变时会被再次调用
    优势:与methods实现相比 内部有缓存机制 效率更高 调试方便
    计算属性最终会出现在vm上 直接读取即可使用
    如果计算属性要被修改 那必须写set函数去响应修改,且set中要引起计算时依赖的数据发生改变
  <div id="app">
    <!-- 计算属性 -->
    <!-- data中定义的就是属性 属性名和属性值 -->
      姓:<input type="text" v-model="firstName"><br />
      名:<input type="text" v-model="lastName"><br />
      全名:<span>{{fullName}}</span>
      <!-- 全名:<span>{{fullName}}</span>
      全名:<span>{{fullName}}</span>
      全名:<span>{{fullName}}</span> -->
  </div>
      <script>
         Vue.config.productionTip = false
         const vm = new Vue({
            el:"#app",
            data:{
              firstName:"杜",
              lastName:"甫"
            },
            // vm中有fullName
            //  _data中一定有data中的属性 但肯定没有fullName
            //  因为它是计算属性 以后才被调用出来的
            computed:{
               fullName:{
              // get的作用 当有人读取fullName时 get就会被调用,且返回值就作为fullName值
              // get什么时候调用？
              // 1.初次调用fullName时 2.所依赖的数据发生变化时
                  get(){
                     console.log(this); //  指向Vue实例
                     console.log('get被调用了'); // 调用了四次fullName get只触发了一次 因为有缓存 methods没有缓存
                     return this.firstName + "-" +this.lastName
                  },
                  // set什么时候调用？
                  // 当fullName被修改的时候
                  set(value){
                     const arr = value.split('-')
                     this.firstName = arr[0]
                     this.lastName = arr[1]
                  }
               }
            }
         })
      </script>
</body>
</html>