<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./JS/vue.js"></script>
</head>
<body>
     <div id="app">
       <input type="text" placeholder="请输入名字" v-model="keyWord">
       <button @click="sortType = 2">年龄升序</button>
       <button @click="sortType = 1">年龄降序</button>
       <button @click="sortType = 0">原顺序</button>
         <ul>
           <li v-for="(i,index) in filPerons" :key="i.id">
            姓名{{i.name}}-年龄{{i.age}}-性别{{i.sex}}
            </li>  
         </ul>
     </div>
     <script>
        Vue.config.productionTip= false
        new Vue({ 
        el:"#app",
        data:{
               keyWord:"",
               sortType:0, // 0原顺序  1降序 2升序
               list:[
                  {id:1,name:"马冬梅",age:16,sex:"女"},
                  {id:2,name:"周冬雨",age:18,sex:"女"},
                  {id:3,name:"周杰伦",age:19,sex:"男"},
                  {id:4,name:"温兆伦",age:17,sex:"男"}
               ],
          },
          computed:{
             filPerons(){
                const arr =this.list.filter((y)=>{
                    return y.name.indexOf(this.keyWord) !== -1  
                 })
                // 判断一下是否需要排序  
                 if (this.sortType !== 0) { // 只能进来 1和2
                     arr.sort((p1,p2)=>{
                        return this.sortType === 1 ? p2.age - p1.age : p1.age - p2.age
                     })
                 }
                 return arr
             }
          }
        })
     </script>
</body>
</html> 